<mat-card>
  <mat-card-header>Book List</mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let book of books">
        <img mat-list-avatar src="{{book.giphyUrl}}" alt="{{book.title}}">
        <h3 mat-line>
          <a mat-button [routerLink]="['/book-edit', book.id]"> Title: {{book.title}}</a>
		  
        </h3>
		<div> Author: {{book.author}}</div>
		  <div> Published: {{book.published}}</div>
		  <div> Notes: {{book.notes}}</div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>

  <button mat-fab color="primary" [routerLink]="['/book-add']">Add</button>
</mat-card>
